
.DS_Store
.ipynb_checkpoints/2 - Python Fundamentals-full-checkpoint.ipynb
3_pandas/.ipynb_checkpoints/
4_twitter_api/.ipynb_checkpoints/
3_pandas/cleaned_spotify_top_songs.csv
4_twitter_api/brexit_tweets.csv
5_social_networks/brexit_tweets.csv
5_social_networks/marvel_graph.gexf
5_social_networks/marvel_analysis.gephi
5_social_networks/.ipynb_checkpoints/
4_twitter_api/data_exp_mine.ipynb
4_twitter_api/large_brexit_tweets.csv
5_social_networks/large_brexit_tweets.csv
saved_snippets.ipynb
.ipynb_checkpoints/
5_social_networks/large_brexit_tweets.pkl
*.gexf
5_social_networks/slides/
6_webscraping_1/slides/
6_webscraping_1/my_uber_df.pkl
6_webscraping_1/my_uber.csv
*.gephi
*.pkl
*.json
*.html
8_text_analysis/news_data_builder.ipynb
8_text_analysis/extra_material.ipynb
9_text_clustering/*.png
*.csv
*.pkl
*.key
.idea/
11-12_text_analysis/phraser.bin
11-12_text_analysis/extra_material.ipynb
13-14_text_clustering/9 - Text Analysis pt1 full.ipynb
15_webscraping_1/user_agent.txt
15_TopicModelling_LDA.ipynb
16_webscraping_1/user_agent.txt
17_webscraping_2/user_agent.txt
assessments/
6-7_twitter_api/credentials.py
*.pyc
6-7_twitter_api/old_credentials.py
6-7_twitter_api/5-Data-Exploration-Visualisation-with-Pandas-Seaborn-Full.ipynb
6-7_twitter_api/7-Twitter Data/version_check.ipynb
valentin/
test.ipynb